<h1 class="txt-tomato text-center m-4">New Todos</h1>
<%= render 'form' %>
<div class="back-btn">
  <%= link_to 'Back', compaign_path(@compaign), class:"btn tomato-clr txt-white text-center bck" %>
</div>
