.form-main {
    width: 50% !important;
    padding: 10px 20px !important;
    margin: 50px 0px !important;
}

 
#compaign_duration,#to_do_status{
    width: 46vw !important;
    padding: 10px 5px;
    margin-bottom: 20px
}
#user_status{
    width: 17vw !important;
    padding: 10px 5px;
    margin-bottom: 20px
}
#status{
    width: 40vw !important;
    padding: 10px 5px;
    margin-bottom: 20px
}